.user-container{
    background-color: rgb(193, 204, 204);
    margin-bottom: 30px;
    padding: 10px;
    width:300px;
    
    }
    .user-pic{
        height:250px;
        width:300px;
        object-fit: contain;

    }
    .user-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .add-user-avatar{
        margin-bottom: 50px;
    }
    
    .user-name,.user-character,.user-quote{
        font-family: 'Poppins', sans-serif;;
    }